@import '@sass/abstracts/vars';
@import '@sass/abstracts/mixins';

.link-list.list-vertical {
  h3 {
    background: $bg-basic-color;
    width: 100%;
    display: inline-block;
    padding: 3px 5px;
    @include border-basic();
  }
  a {
    border: none;
  }
  li {
    display: block;
    height: 0rem !important;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}