.image-carousal-list-component {
    .my-card {
        background-color: #f4f4f4;
        border: 1px solid #eee;
        h2.h2-card-title {
            font-family: 'centur-gothic';
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            padding: 0;
            text-align: left;
            height: 2.8em;
            line-height: 1.4em;
        }
        p.p-card-description {
            font-size: 14px;
            color: #666;
            text-transform: none;
        }
    }
    h1 {
        text-transform: none;
        padding: 80px 0 20px 0;
        margin: 0;
        display: block;
        text-align: center;
        font-size: 24px;
    }
    .slick-prev {
        left: 20px;
    }
    .slick-next {
        right: 50px;
    }
    .slick-prev, .slick-next {
        z-index: 1;
        &:before {
            color: #f0f5f996;
            // color: #333333;
            // opacity: 0.75;
            // display: inline-block;
            // width: 40px !important;
            // height: 60px !important;
            font-size: 50px;
            // background: url(../../images/previous-button-white.png) no-repeat left;
        }
    }
}