/* 
    Apply css style rules on top of bootstrap form relavent class.
*/

.mall-form {
    form {
        background: #eeeeeeb8;
        border: 1px solid #8183845c;
    }
    .form-control {
        font-size: 1.6rem;
    }
    .btn {
        font-size: 1.6rem;
        padding: 0.6rem 1rem;
    }
}