/*
    Apply css style rules on top of bootstrap form relavent class.
*/

.mall-form {
    .form-check {
        min-width: 50px;
    }
    .form-control {
        font-size: 1.6rem;
        padding: 1.2rem;
    }
    .btn {
        font-size: 1.6rem;
        padding: 0.6rem 1rem;
    }
}